#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
  margin-top: 60px;
}

.controls {
	margin-top: 2%;
	background-color: lightsteelblue;
	width: 30%;
	margin-left: 35%;
	border-radius: 16px;
	padding: 4px;
	font-size: 100%;
}

.button {
	background-color: white;
	border-color: steelblue;
	border-radius: 16px;
}
