body {
	background-color: lightsteelblue
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	background-color: lightsteelblue;
	color: white;
	margin-top: 40px;
}

.userInput {
	margin-top: 1%;
	background-color: steelblue;
	color: white;
	width: 20%;
	height: 10%;
	border-radius: 16px;
	padding: 4px;
	font-size: 100%;
	border-color: black;
	border-radius: 2px;
}

.userInput:hover {
	transform:scale(1.025);
	transition: 200ms;
}
.notecard {
	margin-top: 8px;
	width: 100%;
	height: 50%;
	font-size: 20px;
}

.button {
	margin-top: 8px;
	width: 20%;
	height: 32px;
	background-color: steelblue;
	border-color: black;
	border-radius: 2px;
}

.button:hover {
	transform:scale(1.025);
	transition: 200ms;
}

.button:active {
	transform:scale(0.9);
	transition: 50ms;
}
.def {
	opacity: 0;
	transition: opacity 200ms;
}

.active .def {
	opacity: 1;
}